.handle {
  background: #1f1e1e;
  flex: 0 0 5px;
  cursor: col-resize;
}

/* Panel backgrounds for clarity */
.panel-left { background: #d0eaff; height: 100vh; }
.panel-mid { background: #142401; height: 100vh;}
.panel-right { background: #ffd0d0; height: 100vh; }